.avatar_image img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.list-group-conversations {
    padding-left: 0;
    margin-bottom: 20px;
}

table#show-list-fanpage tr td {
    padding: 5px;
}

/*add by Jack.hoa */
.ui-autocomplete-multiselect.ui-state-default {
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    cursor: text;
    width: 100% !important;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
    float: right;
    cursor: pointer;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px 3px;
    margin-left: 5px;
    color: #333;
    background-color: #f6f6f6;
}

.ui-autocomplete-multiselect input {
    display: inline-block;
    border: none;
    outline: none;
    height: auto;
    overflow: visible;
    text-align: left;
    width: auto !important;
}

.ui-autocomplete-multiselect.ui-state-active {
    outline: none;
    border: 1px solid #7ea4c7;
    -moz-box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
    -webkit-box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
    -khtml-box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
    box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
}

.ui-autocomplete {
    max-height: 165px;
    width: 400px !important;
    background: white !important;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#ReviewOrderNote[readonly] {
    background: white;
}

.product-form {
    min-height: 0px;
}

.is-same {
    display: none;
}

.read_only[readonly] {
    background: white;
}

.promotion_product {
    display: none;
}

.promotion_percent {
    display: none;
}

.promotion_vnd {
    display: none;
}

.modal-body .shopextra .box .box-header {
    display: none;
}

.shop .shopextra .form-control[readonly] {
    background: white;
}

.package {
    display: none;
}

.setting-shipping-cost {
    display: none;
}

.loader_show {
    display: none;
    text-align: center;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 15%;
    padding: 5px;
}
